.layout{
  display: grid;
  grid-template-areas: "header" "main" "footer";
  height: 100%;
  grid-template-rows: 55px 1fr 40px;
}

#root{
  height: 100vh;
}

.header{
  grid-area: "header";
}

.main{
  grid-area: "main";
}

.footer{
  grid-area: "footer";
}